/* Mobile Responsive Styles */
@media (max-width: 767px) {
    section {
        margin: 0 5vw; 
    }

    .profileS {
        flex-direction: column; 
       gap: 2rem; 
    }

    .profile {
        margin: 0 auto;
        display: flex;
        justify-content: center; 
    }

    .about-containers {
        flex-direction: column; 
    }

    .about-details-container {
        align-items: center;
        justify-content: center; 
    }

    img{
        height: 350px;
    }
}


@media (min-width: 768px) {
    section {
        margin: 0 10vw; 
    }

    .profileS {
        gap: 2rem; 
    }

    .about-details-container {
        justify-content: center; 
    }
}

@media (min-width: 992px) {
    section {
        margin: 0 15vw; 
    }

    .profileS {
        gap: 5rem; 
    }
}


