@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    margin: 0px;
    padding: 0px;
}

body{
  font-family:"Poppins", sans-serif ;
}

nav,
.nav{
    display: flex;
}
nav{
    justify-content: space-around;
    height: 17vh;
    align-items: center;
}
.nav{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: black;
    text-decoration-color: white;

}
.logo{
    color: rgb(255, 174, 0);
    font-size: 2rem;
}

a:hover{
   color:gray; 
   text-decoration-color: rgb(85, 85, 85);
}

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
  }

.profileS{
    display: flex;
    height: 80vh;
    justify-content: center;
    gap: 5rem;
}
.profile {
    display: flex;
    height: 350px;
    width: 400px;
    margin: auto 0;
  }

img{
    border-radius: 50%;
   
}

.profile-r{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.ptext{
    text-align: center;
    align-self: center;
    
}

/* .ptext p{
    font-weight: 300;
} */
.ptext p{
    font-size: 1.75rem;
    margin-bottom: 0.3rem;
    color: rgb(255, 196, 0);
}
.profileText{
    align-self: center;
    text-align: center;
}
.text-h{
    font-size: 2rem;
}
.icon {
    cursor: pointer;
    height: 2rem;
  }
  
#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn{
    font-weight: 500;
    padding: 1rem;
    border-radius: 2rem;
    width: 8rem;
    cursor: pointer;
}



#about {
    position: relative;
  }
  
  .about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .about-details-container {
    justify-content: center;
    flex-direction: column;
  }
  
  .about-containers,
  .about-details-container {
    display: flex;
  }


  
  .details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }
  
  .about-h{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 40px;
  }